.Pre{
  background-color: #eeeff3;
}





.Pre_box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: auto;
  padding: 50px;
}

.space {
  margin: 18px;
}
